.projects-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.project-card {
    position: relative;
    background-color: var(--bg-secondary);
    padding: 2rem 1.75rem;
    border-radius: 4px;
    transition: var(--transition);
    cursor: default;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 30px -15px var(--shadow-md);
}

.project-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-overline {
    margin: 0 0 10px;
    color: var(--accent);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}

.project-title {
    margin: 0 0 10px;
    color: var(--text-primary);
    font-size: var(--fz-xxl);
}

.project-title a {
    position: static;
    color: var(--text-primary);
}

.project-title a::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.project-title a:hover {
    color: var(--accent);
    text-decoration: none;
}

.project-description {
    color: var(--text-secondary);
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 20px;
    flex-grow: 1;
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
}

.project-tech-list li {
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    color: var(--text-secondary);
    line-height: 1.75;
}

.project-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.project-links a {
    color: var(--text-secondary);
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    z-index: 1;
    /* Above the card link overlay */
}

.project-links a:hover {
    color: var(--accent);
}